*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    background-image: url(6-socal-slider.jpg);
    height: 30vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color:#000;
    
}
body{
    font-family: 'Noto Serif TC', serif;
}
nav{
    overflow: hidden;
    background-color: #333;
}

ul.top li{
    list-style-type: none;
    padding:18px;
    float: left;
    

   
    }
  
    ul.top li a.font-awesome{
        text-decoration: none;
        float: left;
        text-align: center;
        color: #f2f2f2;
        font-size: 16px;
        padding: 0px 26px;
        display: block;
      
    }

    .icon a i.fa{
        font-size: 22px;
        
        
        
    }
     ul.top li:hover {
        background-color: rgba(29, 26, 26, 0.363);
     }
     h5,p {
        font-family: 'Noto Serif TC', serif;
        text-align: center;
     }
     ul.bike {
        font-size: 20px;
    
       }
       .syh , .cbr{
           padding-left: 10px;
       }
     h1{
         text-align: center;
         font-family: 'Noto Serif TC', serif;
         padding-top:10px ;
     }
     .intro{
         padding: 0px 10px;
         
     }
     .bmw{
         padding-left: 10px;
     }
         h2.content{
            font-family: 'Noto Serif TC', serif;
            }
            /* css code for centering card or anything*/
          /*  .card { 
               
                    margin: 0 auto; 
                    float: none;
                    margin-bottom: 10px;
            }*/
               
         .content{
             text-align: justify;
             padding: 0px 15px;
         }
         .card{
             text-align: center;
             padding: 0px 10px;
         }
         h3{
             text-align: center;
             padding: 10px;
         }
         article{
             text-align: center;
             font-weight: 600;
             padding: 15px;
         }
         .owner{
             text-align: center;
             text-transform: uppercase;
             padding-top: 10px;
             
         }
         div .srj {
             display: block;
             margin: 0 auto;
             padding-top: 10px;

         } 

    
     .container{
         max-width:1170px;
         
         margin:auto;
     }
     ul.foot{
         list-style: none;
         
     }
     .row{
        display: flex;
        flex-wrap: wrap;
         
     }

     
     .footer{
        background-color: #24262b;
        padding: 70px 0;
     }
     .footer-col1{
        width: 25%;
        padding: 0 15px;
     }
     .footer-col1 h4{
        font-size: 20px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
         
     }
     .footer-col1 h4::before{
      content:'';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
   }
   .footer-col1 ul.foot li:not(:last-child){
       margin-bottom: 12px;
   }
   .footer-col1 ul.foot li a{
       font-size: 16px;
       text-transform: capitalize;
       text-decoration:none;
       color:#fff;
       font-weight: 300;
       color: #bbbbbb;
       display: block;
       transition: all 0.3s ease;

   }
   .footer-col1 ul li a:hover{
       color: #fff;
       padding-left: 8px;

   }
   .footer-col1 .social-link a.smedia{
       display: inline-block;
      height: 40px;
      width: 40px;
       margin:0 10px 10px 0;
       text-align:center ;
       line-height: 40px;
       border-radius: 50%;
       color: #fff;
       transition: all 0.5s linear;
       background-color: rgba(255, 255, 255, 0.3);

   }
   .footer-col1 .social-link a.smedia:hover{
       color: #24262b;
       background-color: #fff;
   }
   .footer-bottom {
       color: white;
       width: 100%;
       position: relative;
       text-align: center;
       bottom: 0px;
       left: 0px;
       float: left;
       height: 50px;
       display: block;
       font-family:Arial;
       font-size: 16px;
       line-height: 90px;
       font-weight: 600;
       }
@media screen and  (max-width:600px) {
    ul li ,ul li a {
        float: none;
    }
    
}
@media(max-width:600px) {
    .footer-col1 {
        width: 100%;
      
    }
    
}
@media(max-width:767px) {
    .footer-col1 {
        width: 50%;
        margin-bottom: 30px;
    }
    
}